$text-font: 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$code-font: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace;

$text-color: #CCC;
$purple-dark-color: #8B79AD;
$purple-light-color: #8E7DAD;
