$text-font: 'playfair_displayregular', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$header-font: 'muliregular', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$code-font: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace;

$text-color: #CCC;
$light-gray-color: #BDBDBD;
$purple-dark-color: #846FAB;
$purple-light-color: #8E7DAD;

/* Links */
$hearder-nav-color: #551A8B;

/* Effects */
$effects-medium-duration: .5s;
$effects-active-color: white;

$text-size-big: 2em;
$text-size-medium: 1.3em;
