header {
  padding: 1em 0;
  background-color: $purple-dark-color;
  font-family: $header-font;
  text-align: left;
  padding: 1em 5%;
}

.header__h1 {
  position: relative;
  display: inline-block;
}
.header__social {
  position: relative;
  text-align: right;
}

.header__nth {
  font-size: $text-size-big;
  color: black;
}
.header__day {
  color: $light-gray-color;
}

.header__nav {
  text-align: right;
  color: $purple-text-color;
}

.header__a--lang {
  text-decoration: none;
  padding: 0 0.5em;
  color: $purple-text-color;
  &:hover {
    color: #CEC3D9;
  }
}

.header__github-btn {
  margin: 0.8em 0;
}
