@media only screen and (max-width: 800px) {
  .modal {
    width: 80% !important;
  }

  .nthdaysold__modal__button--month {
    width: auto !important
  }
  .nthdaysold__modal__button--day {
    width: 40px !important
  }

  .matches__list {
    font-size: 0.5em;
  }

  .matches__h2, .selection {
    font-size: 0.8em;
  }

  .matches__list {
    width: 100% !important;
  }
}
