.matches__result--past {
  color: #64167A;
}
.matches__result--present {
  color: #59BD3C;
  font-size: 1.8em;
}
.matches__result--future {
  color: #E2D9E2;
  font-size: 1.3em;
}

.matches__nthday {
  font-family: $header-font;
  font-size: $text-size-medium;
  padding: 0 0.2em;
  color: $light-gray-color;
}

.matches__list {
  width: 50%;
  margin: 0 auto;
  font-family: $header-font;
}

.matches__result {
  /*border-bottom: 1px solid #FFF;*/
  margin: 0.4em 0;
  height: 2em;
  /*text-align: left;*/
}

.matches__h2 {
  font-weight: normal;
}
