.matches__result--past {
  background-color: #b0aac2;
}
.matches__result--present {
  background-color: #c2d4d8;
  font-size: 1.8em;
}
.matches__result--future {
  background-color: #dbe9d8;
  font-size: 1.3em;
}

.matches__nthday {
  font-family: $header-font;
  font-size: $text-size-medium;
  padding: 0 0.2em;
  color: $light-gray-color;
}
