.nthdaysold__modal-input {
  font-family: $header-font;
  text-align: center;
  height: 36px;
  width: 50%;

  &:hover,
  &:focus,
  &:active {
    border: 1px solid $purple-light-color;
  }
}

.nthdaysold__button--start {
  background:none;
  border:none;
  font-size:1.5em;
  border: 1px solid black;
  padding: 0.5em 1.5em;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}

.nthdaysold__button--start.fade {
  @mixin fade-border white, white, 0.8s, border;
}

.nthdaysold__modal__button {
  font-family: $header-font;
  height: 36px;
  margin: 0 auto;
  margin-top: 1em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  border: none;

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  }
}

.nthdaysold__modal__button--year {
  width: 50%;
  background: black;
  color: white;
  display: block;
  background-color: $button-modal-bg-color;
  &:hover,
  &:focus,
  &:active {
    background-color: $button-modal-hover-color;
  }
}

.nthdaysold__modal__button--month {
  width: 25%;
  color: white;
  background-color: $button-modal-bg-color;
  border: 1px solid white;
  &:hover,
  &:focus,
  &:active {
    background-color: $button-modal-hover-color;
  }
}

.nthdaysold__modal__button--day {
  width: 10%;
  color: white;
  background-color: $button-modal-bg-color;
  border: 1px solid white;
  &:hover,
  &:focus,
  &:active {
    background-color: $button-modal-hover-color;
  }
}

.nthdaysold__modal__h2 {
  font-weight: normal;
  margin: 0;
  padding-bottom: 0.5em;
}

.nthdaysold__h2 {
  font-weight: normal;
  padding: 0 0.5em;
}
