.options {
  padding: 1.5em 0;
}

.options__title {
  color: white;
  font-weight: normal;
}

.options__fieldset {
  border: none;
  padding: 0;
  margin: 0;
  text-align: center;
  margin: 1em;
}

.options__item-wrapper:first-child {
  border-left: 1px solid white;
}
.options__item-wrapper:last-child {
  border-right: 1px solid white;
}

.options__item-wrapper {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 0.5rem 0;
}

.options__radio-input {
    display: none;
}

.options__radio-label {
    padding: 0.5rem 1rem;
    display: inline-block;
    transition: all .2s;
    color: white;
    cursor: pointer;
}

.options__radio-input:checked + .options__radio-label {
    background: white;
    color: black;
    text-shadow: 0 0 1px rgba(0,0,0,.7);
}

.options__radio-input:focus + .options__radio-label {
    outline-color: #4D90FE;
    outline-offset: -2px;
    outline-style: auto;
    outline-width: 5px;
}
