.social {
  margin-top: 1.5em;
  margin-bottom: 0;
}

.social__button-fb {
  border: none;
  background-color: transparent;
  color: black;
  border: 1px solid black;
  margin: 0 0.3em;
  &:hover {
    border: 1px solid $fb-color;
    color: $fb-color;
  }
}

.social__button-tw {
  border: none;
  background-color: transparent;
  color: black;
  border: 1px solid black;
  margin: 0 0.3em;
  &:hover {
    border: 1px solid $tw-color;
    color: $tw-color;
  }
}
